body {
    margin: 1px;
}

.header {
    display: flex;
	width: auto;
	height: 60px;
	padding: 0px 15px 0px 15px;
	margin-bottom: 20px;
	justify-content: space-between;
	align-items: center;
	background-color: blue;
	font-size: 18px;
}

.logo {
	text-decoration: none;
	color: white;

}

.navigation ul li {
	display: inline;
	list-style-type: none;
    padding-left: 20px;
}

.navigation ul li a {
	text-decoration: none;
	color: white;
}

section {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	width: 1100px;
}

.container img {
		width: 351px;
		height: 250px;
		border: 1px solid black;
		object-fit: cover; 
}
a {
	padding-left: 3px;
}

.big-container img {
	width: 1065px;
	height: 250px;
	border: 1px solid black;
}